.hero {
  padding-top: 80px;
  background-color: $gray-lightest;
  background-image: url("../../img/hero/2150853539.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // height: 100vh;
  min-height: 100vh;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
  }

  &__content {
    flex: 0 1 50%;
  }

  &__content-main {
    display: flex;
    flex-direction: column;
  }

  // .hero__title

  &__title {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    // color:$gray-darken;
  }

  // .hero__title-text

  &__title-text {
    display: block;
    // max-width: 90%;
    font-weight: 400;
    line-height: 1.4;
    text-transform: initial;
    margin-bottom: 50px;
  }

  // .hero__link

  &__link {
  }

  &__img {
    // flex: 0 0 auto;
    padding-bottom: 36px;
  }
}
.container {
}
.btn {
}
