.product {
	padding: 50px 0;

	&__container {
	}

	// .product__title

	&__title {

	}

	// .product__slider

	&__slider {
	  padding: 50px 0;

	}

	// .product__item

	&__item {
	  display: flex;
	//   background-color: var(--dark-bg-color);
	}

	// @media (max-width: 800px) {
	//   &__item {
	// 	flex-direction: column-reverse;
	//   }
	// }

	&__content {

	}

	&__img {
	  width: 100%;
	}

	&__nav {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	}

	&__scroll {
	  width: 360px;
	  height: 10px;
	  cursor: pointer;
	}

	&__btns {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	}

	&__slider-btn {
	  background-position: center;
	  background-size: cover;
	  background-repeat: no-repeat;
	  width: 40px;
	  height: 40px;

	  &--prev {
		background-image: url("../img/prev.svg");
	  }

	  &--next {
		background-image: url("../img/next.svg");
	  }

	  &:not(:last-child) {
		margin-right: 20px;
	  }
	}




  }

//   .swiper {
// 	&-scrollbar-drag {
// 	//   background-color: var(--brand-color);
// 	}
//   }
//   .swiper-wrapper {
//   }
//   .swiper-slide {
//   }

//   .content-product {
// 	padding: 100px 20px 20px 30px;
// 	flex: 1 1 auto;

// 	&__title {
// 	  margin-bottom: 30px;
// 	  max-width: 500px;
// 	  font-weight: 400;
// 	  font-size: 50px;
// 	  line-height: 119.3%;
// 	  color: var(--light-color);
// 	  text-transform: uppercase;
// 	}

// 	@media (max-width: 1150px) {
// 	  &__title {
// 		font-size: 30px;
// 	  }
// 	}

// 	&__text {
// 	  max-width: 500px;
// 	  font-weight: 400;
// 	  font-size: 18px;
// 	  line-height: 22px;
// 	//   color: var(--light-color);
// 	}
//   }

//   @media (max-width: 1150px) {
// 	.content-product {
// 	  padding-top: 50px;
// 	}
//   }