.product {
  padding: 50px 0;

  &__container {
  }
}

.product-slider {
  &__wrapper {
  }

  &__slide {
    display: flex;
  }

  &__slide:nth-child(odd) {
    flex-direction: row-reverse;
  }

  &__content {
    padding: 16px;
  }

  &__title {
    font-size: 28px;
  }

  &__text {
  }

  &__img-wrapper {
    flex: 0 0 50%;
    position: relative;
    width: 50%;
  }

  &__img-wrapper:before {
    content: "";
    display: block;
    padding-bottom: 60%;
  }

  &__img {
  }
}

.swiper {
  &-scrollbar-drag {
    background-color: red;
  }
}
.swiper-wrapper {
	padding-bottom: 50px;
}
.swiper-slide {
}

.swiper-pagination {
}
.swiper-button-prev {

}
.swiper-button-next {
}
.swiper-scrollbar {
}
// 	@media (max-width: 1150px) {
// 	  &__title {
// 		font-size: 30px;
// 	  }
// 	}
