// *************************************************************************************
//                                  Возможно для более древних Браузеров           reset
// *************************************************************************************
.btn-reset {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 0;
  max-width: 100%;
  font-family: inherit;
  font-size: 1em;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: none;
  letter-spacing: inherit;
  color: inherit;
  background-image: none;
  background-color: #fff;
  box-shadow: none;
  font: inherit;
  cursor: pointer;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// *************************************************************************************
//                                                            порядок focus hover active
// *************************************************************************************
.btn-primary {
  min-width: 128px;
  padding: 16px 24px;
  border-radius: 0.5rem;
  background-color: #3cbefb;
  color: #fff;
  transition: background-color 0.3s ease-in-out;

  & svg {
    display: inline-block;
    vertical-align: middle;
    fill: #fff;
    width: 20px;
    height: 20px;
    margin-right: 0.25rem;
  }

  &:focus-visible {
    text-decoration: none;
    color: #fff;
    background-color: #00a2ed;
    outline: 0;
    box-shadow: 0 0 0 2px hsl(213, 90%, 70%);
  }

  @media (any-hover: hover) {
    &:hover {
      text-decoration: none;
      color: #fff;
      background-color: #017bb4;
    }
  }

  @media (hover: none) {
    &:active {
      text-decoration: none;
      color: #fff;
      background-color: hsl(213, 91%, 46%);
      transition: none;
    }
  }

  &:visited {
    color: #fff;
  }

  &:active,
  &--active {
    background-color: hsl(213, 91%, 46%);
    transition: none;
  }

  &--disabled,
  &:disabled {
    color: #fff;
    background-color: #b5b5b5;
    opacity: 0.5;
    cursor: not-allowed;
    outline: none;
    pointer-events: none;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }
}

.btn-icon span {
  display: inline-block;
  margin-right: 1rem;
}

@media (max-width: 767px) {
  .btn-icon span {
    display: none;
  }
}

.btn-icon svg {
  transition: all ease-in-out 1s;
}

@media (hover: hover) {
  .btn-icon svg {
    fill: #fff;
    transform: rotate(180deg);
  }
}

// .btn-icon:hover svg {
//   fill: #fff;
//   transform: rotate(180deg);
// }
