<section class="accessories">
  <div class="container">
    <div class="accessories__container">
      <h2 class="title section-title">Аксесуари</h2>
      <ul class="list-reset accessories__list">
        <li class="accessories__item">
          <div class="accessories__inner">
            <div class="accessories__img-wrapper">
              <img
                class="accessories__img"
                src="img/accessories/accessories-1.jpg"
                alt=""
              />
            </div>
            <h4 class="accessories__title">Ninebot динамік двигуна</h4>
            <p class="accessories__description">
              Вбудована система імітації звуку двигуна може імітувати
              реалістичний рев двигуна на основі акселератора, гальма, швидкості
              та інших сигналів автомобіля
            </p>
            <span class="accessories__price"> $149.99 </span>
            <button class="button">Додати у кошик</button>
          </div>
        </li>
        <li class="accessories__item">
          <div class="accessories__inner">
            <div class="accessories__img-wrapper">
              <img
                class="accessories__img"
                src="img/accessories/accessories-2.jpg"
                alt=""
              />
            </div>
            <h4 class="accessories__title">Ninebot динамік двигуна</h4>
            <p class="accessories__description">
              Вбудована система імітації звуку двигуна може імітувати
              реалістичний рев двигуна на основі акселератора, гальма, швидкості
              та інших сигналів автомобіля
            </p>
            <span class="accessories__price"> $149.99 </span>
            <button class="button">Додати у кошик</button>
          </div>
        </li>
        <li class="accessories__item">
          <div class="accessories__inner">
            <div class="accessories__img-wrapper">
              <img
                class="accessories__img"
                src="img/accessories/accessories-3.jpg"
                alt=""
              />
            </div>
            <h4 class="accessories__title">Ninebot динамік двигуна</h4>
            <p class="accessories__description">
              Вбудована система імітації звуку двигуна може імітувати
              реалістичний рев двигуна на основі акселератора, гальма, швидкості
              та інших сигналів автомобіля
            </p>
            <span class="accessories__price"> $149.99 </span>
            <button class="button">Додати у кошик</button>
          </div>
        </li>
        <li class="accessories__item">
          <div class="accessories__inner">
            <div class="accessories__img-wrapper">
              <img
                class="accessories__img"
                src="img/accessories/accessories-4.jpg"
                alt=""
              />
            </div>
            <h4 class="accessories__title">Ninebot динамік двигуна</h4>
            <p class="accessories__description">
              Вбудована система імітації звуку двигуна може імітувати
              реалістичний рев двигуна на основі акселератора, гальма, швидкості
              та інших сигналів автомобіля
            </p>
            <span class="accessories__price"> $149.99 </span>
            <button class="button">Додати у кошик</button>
          </div>
        </li>
        <li class="accessories__item">
          <div class="accessories__inner">
            <div class="accessories__img-wrapper">
              <img
                class="accessories__img"
                src="img/accessories/accessories-5.jpg"
                alt=""
              />
            </div>
            <h4 class="accessories__title">Ninebot динамік двигуна</h4>
            <p class="accessories__description">
              Вбудована система імітації звуку двигуна може імітувати
              реалістичний рев двигуна на основі акселератора, гальма, швидкості
              та інших сигналів автомобіля
            </p>
            <span class="accessories__price"> $149.99 </span>
            <button class="button">Додати у кошик</button>
          </div>
        </li>
        <li class="accessories__item">
          <div class="accessories__inner">
            <div class="accessories__img-wrapper">
              <img
                class="accessories__img"
                src="img/accessories/accessories-6.jpg"
                alt=""
              />
            </div>
            <h4 class="accessories__title">Ninebot динамік двигуна</h4>
            <p class="accessories__description">
              Вбудована система імітації звуку двигуна може імітувати
              реалістичний рев двигуна на основі акселератора, гальма, швидкості
              та інших сигналів автомобіля
            </p>
            <span class="accessories__price"> $149.99 </span>
            <button class="button">Додати у кошик</button>
          </div>
        </li>
        <li class="accessories__item">
          <div class="accessories__inner">
            <div class="accessories__img-wrapper">
              <img
                class="accessories__img"
                src="img/accessories/accessories-7.jpg"
                alt=""
              />
            </div>
            <h4 class="accessories__title">Ninebot динамік двигуна</h4>
            <p class="accessories__description">
              Вбудована система імітації звуку двигуна може імітувати
              реалістичний рев двигуна на основі акселератора, гальма, швидкості
              та інших сигналів автомобіля
            </p>
            <span class="accessories__price"> $149.99 </span>
            <button class="button">Додати у кошик</button>
          </div>
        </li>
        <li class="accessories__item">
          <div class="accessories__inner">
            <div class="accessories__img-wrapper">
              <img
                class="accessories__img"
                src="img/accessories/accessories-8.jpg"
                alt=""
              />
            </div>
            <h4 class="accessories__title">Ninebot динамік двигуна</h4>
            <p class="accessories__description">
              Вбудована система імітації звуку двигуна може імітувати
              реалістичний рев двигуна на основі акселератора, гальма, швидкості
              та інших сигналів автомобіля
            </p>
            <span class="accessories__price"> $149.99 </span>
            <button class="button">Додати у кошик</button>
          </div>
        </li>
        <li class="accessories__item">
          <div class="accessories__inner">
            <div class="accessories__img-wrapper">
              <img
                class="accessories__img"
                src="img/accessories/accessories-9.jpg"
                alt=""
              />
            </div>
            <h4 class="accessories__title">Ninebot динамік двигуна</h4>
            <p class="accessories__description">
              Вбудована система імітації звуку двигуна може імітувати
              реалістичний рев двигуна на основі акселератора, гальма, швидкості
              та інших сигналів автомобіля
            </p>
            <span class="accessories__price"> $149.99 </span>
            <button class="button">Додати у кошик</button>
          </div>
        </li>
      </ul>
      <div class="accessories__show-more">
        <button class="button show-more__button">Показати ще</button>
      </div>
    </div>
  </div>
</section>
