<div class="container">
  <div class="block-wrapper">

    <div class="contacts">
      <a href="tel:4055550128" class="contacts__link contacts-link contacts-link--call">
        <span class="contacts-link__caption">Call us</span>
        <span class="contacts-link__value">(405) 555-0128</span>
      </a>
    </div>

    <div class="contacts">
      <a href="mailto:hello@createx.com" class="contacts__link contacts-link contacts-link--mail">
        <span class="contacts-link__caption">Talk to us</span>
        <span class="contacts-link__value">hello@createx.com</span>
      </a>
    </div>

    <div class="address">
      <img class="img address__icon" src="../img/svg/location.svg" alt="Address">
      <span class="address__text">м. Дніпро</span>
      <span class="address__text">вул. Калинова</span>
    </div>

  </div>
</div>
