<header class="header fixed-block">
  <div class="container">
    <div class="header__container">
      <a href="#" class="logo header__logo">
        <img
          loading="lazy"
          src="img/logo.svg"
          class="img logo__image"
          alt="Brand"
        />
      </a>
      <nav class="nav header__nav" title="Main menu" data-menu>
        <ul class="list-reset nav__list" role="menu" id="menu-list">
          <li class="nav__item"  data-menu-item role="menuitem">
            <a href="#!" class="nav__link">Item</a>
          </li>
          <li class="nav__item"  data-menu-item role="menuitem">
            <li class="nav__item"  data-menu-item >
            <a href="#!" class="nav__link">Item</a>
          </li>
          <li class="nav__item"  data-menu-item role="menuitem">
            <li class="nav__item"  data-menu-item >
            <a href="#!" class="nav__link">Item</a>
          </li>
          <li class="nav__item"  data-menu-item role="menuitem">
            <li class="nav__item"  data-menu-item >
            <a href="#!" class="nav__link">Item</a>
          </li>
        </ul>
      </nav>

      <button
        class="btn-reset btn burger-btn"
        aria-controls="menu-list"
        aria-label="Open"
        aria-expanded="false"
        aria-haspopup="true"
        data-burger
      >
        <span class="burger-btn__line" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</header>
