<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__content">
        <div class="hero__content-main">
          <h1 class="hero__title">SEGWAY Ninebot Kickscooter MAX</h1>
          <span class="hero__title-text">
            KickScooter MAX с запасом хода до 40 миль, самым большим радиусом
            действия на рынке и углом подъема в гору 20 градусов позволяет вам
            проехать от залива Сан-Франциско до Пало-Альто на одной зарядке.
          </span>
          <a href="#link3" class="hero__link btn-reset btn" data-scroll
            >Заказать тест-драйв</a
          >
          <a href="#link3" class="hero__link btn-reset btn" data-scroll
            >Придбати зараз</a
          >
        </div>

        <div class="hero__content-features">
          <div class="features">
            <div class="features__container">
              features
              <h3 class="features__title section-title">
                Вражаючі особливості
              </h3>
              <ul class="list-reset features__list">
                <li class="features__item">
                  <div class="features__content">
                    <div class="features__img">
                      <img
                        src="../img/features/tires.svg"
                        alt="Пневматичні шини"
                      />
                    </div>
                    <!-- <span class="features__value"> 10” </span>
                <p class="features__text">Пневматичні шини</p> -->
                  </div>
                </li>
                <li class="features__item">
                  <div class="features__content">
                    <div class="features__img">
                      <img
                        src="../img/features/lights.svg"
                        alt="Передні світлодіодні ліхтарі"
                      />
                    </div>
                    <!-- <span class="features__value"> LED </span>
                <p class="features__text">Передні світлодіодні ліхтарі</p> -->
                  </div>
                </li>
                <li class="features__item">
                  <div class="features__content">
                    <div class="features__img">
                      <img
                        src="../img/features/speed.svg"
                        alt="Максимальна швидкість"
                      />
                    </div>
                    <!-- <span class="features__value"> 18.6 mph </span>
                <p class="features__text">Максимальна швидкість</p> -->
                  </div>
                </li>
                <li class="features__item">
                  <div class="features__content">
                    <div class="features__img">
                      <img
                        src="../img/features/range.svg"
                        alt="Максимальний діапазон"
                      />
                    </div>
                    <!-- <span class="features__value"> 40.4 Miles </span>
                <p class="features__text">Максимальний діапазон</p> -->
                  </div>
                </li>
                <li class="features__item">
                  <div class="features__content">
                    <div class="features__img">
                      <img
                        src="../img/features/grade.svg"
                        alt="Пневматические шины"
                      />
                    </div>
                    <!-- <span class="features__value"> 10” </span>
                <p class="features__text">Пневматические шины</p> -->
                  </div>
                </li>
                <li class="features__item">
                  <div class="features__content">
                    <div class="features__img">
                      <img
                        src="../img/features/resistant.svg"
                        alt="Передние светодиодные фонари"
                      />
                    </div>
                    <!-- <span class="features__value"> LED </span>
                <p class="features__text">Передние светодиодные фонари</p> -->
                  </div>
                </li>
                <li class="features__item">
                  <div class="features__content">
                    <div class="features__img">
                      <img
                        src="../img/features/charging.svg"
                        alt="Максимальная скорость"
                      />
                    </div>
                    <!-- <span class="features__value"> 18.6 mph </span>
                <p class="features__text">Максимальная скорость</p> -->
                  </div>
                </li>
                <li class="features__item">
                  <div class="features__content">
                    <div class="features__img">
                      <img
                        src="../img/features/battery.svg"
                        alt="Максимальный диапазон"
                      />
                    </div>
                    <!-- <span class="features__value"> 40.4 Miles </span>
                <p class="features__text">Максимальный диапазон</p> -->
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="hero__img">
        <img src="../img/hero/hero-img.png" alt="" />
      </div>
    </div>
  </div>
</section>
