<section class="hero">
  <div class="container">
      <div class="hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        SEGWAY Ninebot Kickscooter MAX
      </h1>
      <span class="hero__title-text">
        KickScooter MAX с запасом хода до 40 миль, самым большим радиусом действия на рынке и углом подъема в гору 20 градусов позволяет вам проехать от залива Сан-Франциско до Пало-Альто на одной зарядке.
      </span>
      <a href="#link3" class="hero__link btn-reset btn" data-scroll>Заказать тест-драйв</a>
      <a href="#link3" class="hero__link btn-reset btn" data-scroll>Придбати зараз</a>
    </div>
    <div class="hero__img">
      <img src="../img/hero-img.png" alt="">
    </div>
  </div>
  </div>

</section>