<header class="os-header fixed-block">
  <!-- header-banner start-->
  <!-- <div class="header-banner">
    <div class="container">
      <div class="header-banner__container">
        <a href="#" class="header-banner__link"> Великий вибір ... </a>
      </div>
    </div>
  </div> -->
  <!-- header-banner end-->

  <div class="os-header-top">
    <div class="container">
      <div class="header-top__container">
        <div class="location">
          <button class="btn-reset location__btn">
            <img
            class="location__img"
            src="./img/wb/icon/wb-icon-location.svg"
            alt="Location icon"
          />
          <span class="location__city">Новомосковськ</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="header__container">
      <a href="/" class="logo header__logo">
        <img
          loading="lazy"
          src="./img/wb/logo.svg"
          class="img logo__image"
          alt="Brand"
        />
      </a>
      <nav class="nav header__nav" title="Main menu" data-menu>
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#!" class="nav__link">Trade In</a>
          </li>
          <li class="nav__item">
            <a href="#!" class="nav__link nav__link--active">Велосипеди</a>
          </li>
          <li class="nav__item">
            <a href="#!" class="nav__link">Запчастини</a>
          </li>
          <li class="nav__item">
            <a href="#!" class="nav__link">Додаткова інформація</a>
          </li>
        </ul>
      </nav>

      <div class="user-dashboard">
        <button class="btn-reset user-btn user-search-btn">
          <img
            class="user-search__img"
            src="./img/wb/search.svg"
            alt="Search icon"
          />
        </button>
        <button class="btn-reset user-btn user-profile-btn">
          <img
            class="user-profile__img"
            src="./img/wb/profile.svg"
            alt="Profile icon"
            data-modal-btn-open="modal-1"
          />
        </button>
        <button class="btn-reset user-btn user-wishlist-btn">
          <img
            class="user-wishlist__img"
            src="./img/wb/wishlist.svg"
            alt="Wishlist icon"
          />
        </button>
        <button class="btn-reset user-btn user-cart-btn">
          <img class="user-cart__img" src="./img/wb/cart.svg" alt="Cart icon" />
        </button>
      </div>

      <button
        class="btn-reset burger-btn"
        aria-label="Открыть меню"
        aria-expanded="false"
        data-burger
      >
        <span class="burger-btn__line"></span>
      </button>
    </div>
  </div>

  <div class="container">
    <div class="main-nav__container">
      <nav class="main-nav">
        <ul class="list-reset main-nav__list">
          <li class="main-nav__item">
            <a href="#!" class="main-nav__link">Велосипеди</a>
            <div class="main-nav__dropdown-wrapper">
              <div class="main-nav__dropdown">
                <ul class="list-reset main-subnav__list">
                  <li class="main-subnav__item" data-submenu>
                    <a href="#!" class="main-subnav__link">Гірські</a>
                    <ul
                      class="list-reset main-sub-subnav__list"
                      data-sub-submenu
                    >
                      <li class="main-subnav__item">
                        <a href="#!" class="main-subnav__link">Кланкери</a>
                      </li>
                      <li class="main-subnav__item">
                        <a href="#!" class="main-subnav__link"
                          >Крос-кантрі хардтейл</a
                        >
                      </li>
                      <li class="main-subnav__item">
                        <a href="#!" class="main-subnav__link"
                          >Крос-кантрі двопідвісний</a
                        >
                      </li>
                      <li class="main-subnav__item">
                        <a href="#!" class="main-subnav__link">Фетбайк</a>
                      </li>
                      <li class="main-subnav__item">
                        <a href="#!" class="main-subnav__link">Трейл</a>
                      </li>
                      <li class="main-subnav__item">
                        <a href="#!" class="main-subnav__link">Ендуро</a>
                      </li>
                      <li class="main-subnav__item">
                        <a href="#!" class="main-subnav__link">Трейл</a>
                      </li>
                      <li class="main-subnav__item">
                        <a href="#!" class="main-subnav__link">Олмаунтін</a>
                      </li>
                    </ul>
                  </li>
                  <li class="main-subnav__item" data-submenu>
                    <a href="#!" class="main-subnav__link">Міські</a>
                    <ul
                      class="list-reset main-sub-subnav__list"
                      data-sub-submenu
                    >
                      <li class="main-subnav__item">
                        <a href="#!" class="main-subnav__link">Класичні</a>
                      </li>
                      <li class="main-subnav__item">
                        <a href="#!" class="main-subnav__link">Круїзери</a>
                      </li>
                      <li class="main-subnav__item">
                        <a href="#!" class="main-subnav__link">Складні</a>
                      </li>
                    </ul>
                  </li>
                  <li class="main-subnav__item">
                    <a href="#!" class="main-subnav__link">Екстремальні</a>
                  </li>
                  <li class="main-subnav__item">
                    <a href="#!" class="main-subnav__link">Шосейні</a>
                  </li>
                  <li class="main-subnav__item">
                    <a href="#!" class="main-subnav__link">Дитячі</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="main-nav__item">
            <a href="#!" class="main-nav__link">Запчастини</a>
          </li>
          <li class="main-nav__item">
            <a href="#!" class="main-nav__link">Екіпірування</a>
          </li>
          <li class="main-nav__item">
            <a href="#!" class="main-nav__link">Аксесуари</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- header-main start -->
  <!-- <div class="header-main">
    <div class="container">
      <div class="header-main__container">
        <button class="btn-reset btn open-catalog-btn">Каталог</button> -->

  <!-- search start -->
  <!-- <div class="search">
          <form method="#" action="#" autocomplete="off" class="search-form">
            <input
              type="text"
              placeholder="Пошук товарів"
              class="search-form__input"
            />
            <button class="btn-reset search-form__btn">
              <svg class="icon header-search__icon">
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </button>
          </form>
        </div> -->
  <!-- search end -->

  <!-- user-dashboard start -->
  <!-- <div class="user-dashboard">
          <button class="btn-reset user-btn user-profile-btn" data-modal-button="modal-1">
            <div class="user__img user__img--profile"></div>
          </button>
          <button class="btn-reset user-btn user-compare-btn">
            <div class="user__img user__img--compare"></div>
          </button>
          <button class="btn-reset user-btn user-wishlist-btn">
            <div class="user__img user__img--wishlist"></div>
          </button>
          <button class="btn-reset user-btn user-cart-btn">
            <div class="user__img user__img--cart"></div>
          </button>
        </div> -->
  <!-- user-dashboard end -->
  <!-- </div>
    </div>
  </div> -->

  <!-- ============================= -->
   
  <!-- ============================= -->

  <!-- header-main end -->
</header>