      <!-- product-card start -->
      <div class="product-card">
        <div class="container">
          <h1 class="product-card__title">GTX Limited 300</h1>
          <div class="product-card__container">
            <div class="product-card__img-wrapper">
              <div class="product-card__img-content">
                <img
                  class="product-card__img"
                  src="./img/products/product-3.png"
                  alt=""
                />
              </div>

              <div class="product-card__option product-option">
                <label class="swap-color">
                  <input
                    class="swap-color__input"
                    type="radio"
                    name="swap-color"
                    checked
                    data-src-img="./img/products/product-3.png"
                  />
                  <span class="swap-color__btn"></span>
                </label>
                <label class="swap-color">
                  <input
                    class="swap-color__input"
                    type="radio"
                    name="swap-color"
                    data-src-img="./img/products/product-2.png"
                  />
                  <span class="swap-color__btn"></span>
                </label>
              </div>
            </div>

            <!-- tabs start -->
            <div class="tabs-container">
              <div class="tabs tabs-product-card" id="mytab-2">
                <ul class="list-reset tabs-control-list">
                  <li class="tabs-control__item" data-tab="tab-1">Про товар</li>
                  <li class="tabs-control__item" data-tab="tab-2">Характеристики</li>
                  <li class="tabs-control__item" data-tab="tab-3">Гарантія</li>
                </ul>

                <div class="tabs-content" data-tab-content="tab-1">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Minus, ducimus fugit corrupti culpa libero quam mollitia
                    magni pariatur.
                  </p>
                </div>

                <div class="card p-3 hidden" data-tab-content="tab-2">
                  <table class="table">
                    <thead>
                      <th>Specification</th>
                      <th>Value</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Engine</td>
                        <td>300</td>
                      </tr>
                      <tr>
                        <td>Type</td>
                        <td>1630 ACE™- 300</td>
                      </tr>
                      <tr>
                        <td>Engine Horse Power</td>
                        <td>300 hp</td>
                      </tr>
                      <tr>
                        <td>Cylinders & Displacement</td>
                        <td>1630 cc</td>
                      </tr>
                      <tr>
                        <td>Engine cooling</td>
                        <td>Closed-Loop Cooling System</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="card p-3 hidden" data-tab-content="tab-3">
                  <p>
                    Обмежена гарантія BRP поширюється на гідроцикл протягом
                    одного року.
                  </p>
                </div>
              </div>
            </div>
            <!-- tabs end -->
          </div>
        </div>
      </div>
      <!-- product-card end -->