<section class="presentation" id="presentation">
  <div class="container presentation__container">
    <h3 class="section-title presentation__title ">
			SEGWAY Ninebot Kickscooter MAX
	  </h3>
    <div class="swiper presentation__content">
      <div class="swiper-wrapper presentation__wrapper">
        <div class="swiper-slide presentation__slide">
          <div class="presentation__item">
            <div class="presentation__content content-presentation">
              <div class="content-presentation__title">
                Розумна система управління акумулятором (Smart-BMS)
              </div>
              <div class="content-presentation__text">
                Smart-BMS ретельно стежить за станом батареї за допомогою кількох захисних механізмів, щоб забезпечити її довговічність              </div>
            </div>
            <div class="presentation__img">
              <picture>
                <source srcset="../img/presentation/presentation-1.png" type="image/webp">
                <img loading="lazy" src="../img/presentation/presentation-1.png" class="image" width="720" height="547" alt="Розумна система управління акумулятором">
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-slide presentation__slide">
          <div class="presentation__item">
            <div class="presentation__content content-presentation">
              <div class="content-presentation__title">
                Розумна система управління акумулятором (Smart-BMS)
              </div>
              <div class="content-presentation__text">
                Smart-BMS ретельно стежить за станом батареї за допомогою кількох захисних механізмів, щоб забезпечити її довговічність              </div>
            </div>
            <div class="presentation__img">
              <picture>
                <source srcset="../img/presentation/presentation-1.png" type="image/webp">
                <img loading="lazy" src="../img/presentation/presentation-1.png" class="image" width="720" height="547" alt="Розумна система управління акумулятором">
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-slide presentation__slide">
          <div class="presentation__item">
            <div class="presentation__content content-presentation">
              <div class="content-presentation__title">
                Розумна система управління акумулятором (Smart-BMS)
              </div>
              <div class="content-presentation__text">
                Smart-BMS ретельно стежить за станом батареї за допомогою кількох захисних механізмів, щоб забезпечити її довговічність              </div>
            </div>
            <div class="presentation__img">
              <picture>
                <source srcset="../img/presentation/presentation-1.png" type="image/webp">
                <img loading="lazy" src="../img/presentation/presentation-1.png" class="image" width="720" height="547" alt="Розумна система управління акумулятором">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="presentation__nav">
      <div class="swiper-scrollbar presentation__scroll"></div>
      <div class="presentation__btn">
        <button class="btn-reset presentation__slider-btn presentation__slider-btn--prev" aria-label="Перейти до попереднього слайду"></button>
        <button class="btn-reset presentation__slider-btn presentation__slider-btn--next" aria-label="Перейти до наступного слайду"></button>
      </div>
    </div>
  </div>
</section>