<section class="product" id="product">
  <div class="container">
    <div class="product__container">
      <h3 class="product__title section-title">
        SEGWAY Ninebot Kickscooter MAX
      </h3>

      <!-- Оболочка слайдера -->
      <div class="product__slider swiper">
        <!-- Двигающееся часть слайдера -->
        <div class="product__wrapper swiper-wrapper">
          <!-- Слайд -->
          <div class="product__slide swiper-slide">
            <div class="product__item">
              <div class="product__content content-product">
                <div class="content-product__title">
                  Smart battery Management system (Smart-BMS)
                </div>
                <div class="content-product__text">
                  The Smart-BMS closely monitors the battery status with
                  multiple protection mechanisms to ensure the battery
                  durability
                </div>
              </div>
              <div class="product__img">
                <img
                  src="img/product/slider-img-big-1.png"
                  alt=""
                  class="product__img"
                />
              </div>
            </div>
          </div>
          <!-- Слайд -->
          <div class="product__slide swiper-slide">
            <div class="product__item">
              <div class="product__content content-product">
                <div class="content-product__title">
                  Smart battery Management system (Smart-BMS)
                </div>
                <div class="content-product__text">
                  The Smart-BMS closely monitors the battery status with
                  multiple protection mechanisms to ensure the battery
                  durability
                </div>
              </div>
              <div class="product__img">
                <img
                  src="img/product/slider-img-big-2.png"
                  alt=""
                  class="product__img"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- Если нужна пагинация -->
        <!-- <div class="swiper-pagination"></div> -->
        <!-- Если нужна навигация (влево/вправо) -->
        <!-- <button type="button" class="swiper-button-prev"></button> -->
        <!-- <button type="button" class="swiper-button-next"></button> -->
        <!-- Если нужен скролбар -->
        <!-- <div class="swiper-scrollbar"></div> -->
      </div>

      <!-- <div class="swiper product__slider">
		<div class="swiper-wrapper">

		  <div class="swiper-slide">
			<div class="product__item">
			  <div class="product__content content-product">
				<div class="content-product__title">
				  Smart battery Management system (Smart-BMS)
				</div>
				<div class="content-product__text">
				  The Smart-BMS closely monitors the battery status with multiple protection mechanisms to ensure the battery durability
				</div>
			  </div>
			  <div class="product__img">
				<img src="../img/slider-img-big-1.png" alt="" class="product__img">
			  </div>
			</div>
		  </div>

		  <div class="swiper-slide">
			<div class="product__item">
			  <div class="product__content content-product">
				<div class="content-product__title">
				  Smart battery Management system (Smart-BMS)
				</div>
				<div class="content-product__text">
				  The Smart-BMS closely monitors the battery status with multiple protection mechanisms to ensure the battery durability
				</div>
			  </div>
			  <div class="product__img">
				<img src="../img/slider-img-big-2.png" alt="" class="product__img">
			  </div>
			</div>
		  </div>

		  <div class="swiper-slide">
			<div class="product__item">
			  <div class="product__content content-product">
				<div class="content-product__title">
				  Smart battery Management system (Smart-BMS)
				</div>
				<div class="content-product__text">
				  The Smart-BMS closely monitors the battery status with multiple protection mechanisms to ensure the battery durability
				</div>
			  </div>
			  <div class="product__img">
				<img src="../img/slider-img-big-3.png" alt="" class="product__img">
			  </div>
			</div>
		  </div>

		</div>
	  </div> -->

      <!-- <div class="container-fluid">
		<div class="product__nav">
			<div class="swiper-scrollbar product__scroll"></div>
			<div class="product__btns">
			<button class="btn-reset product__slider-btn product__slider-btn--prev" aria-label="Перейти к предыдущему слайду"></button>
			<button class="btn-reset product__slider-btn product__slider-btn--next" aria-label="Перейти к следующему слайду"></button>
			</div>
		</div>
		</div> -->
    </div>
  </div>
</section>
