<div class="container">
  <div class="test__wrapper">
    <ul class="list-reset products__list">
      <li class="product__item">
        <div class="products__wrapper">
          <div class="products__inner">
            <div class="products__content">
              <h4 class="title">Title</h4>
              <p class="descr">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consectetur!
              </p>
            </div>
            <div class="products__hidden-content-wrapper">
              <div class="products__hidden-content">
                <div class="products__hidden-content-inner">
                  <p>Hidden Content</p>
                  <p>Hidden Content</p>
                  <p>Hidden Content</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="product__item">
        <div class="products__wrapper">
          <div class="products__inner">
            <div class="products__content">
              <h4 class="title">Title</h4>
              <p class="descr">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consectetur!
              </p>
            </div>
            <div class="products__hidden-content-wrapper">
              <div class="products__hidden-content">
                <div class="products__hidden-content-inner">
                  <p>Hidden Content</p>
                  <p>Hidden Content</p>
                  <p>Hidden Content</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="product__item">
        <div class="products__wrapper">
          <div class="products__inner">
            <div class="products__content">
              <h4 class="title">Title</h4>
              <p class="descr">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consectetur!
              </p>
            </div>
            <div class="products__hidden-content-wrapper">
              <div class="products__hidden-content">
                <div class="products__hidden-content-inner">
                  <p>Hidden Content</p>
                  <p>Hidden Content</p>
                  <p>Hidden Content</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="product__item">
        <div class="products__wrapper">
          <div class="products__inner">
            <div class="products__content">
              <h4 class="title">Title</h4>
              <p class="descr">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consectetur!
              </p>
            </div>
            <div class="products__hidden-content-wrapper">
              <div class="products__hidden-content">
                <div class="products__hidden-content-inner">
                  <p>Hidden Content</p>
                  <p>Hidden Content</p>
                  <p>Hidden Content</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="product__item">
        <div class="products__wrapper">
          <div class="products__inner">
            <div class="products__content">
              <h4 class="title">Title</h4>
              <p class="descr">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consectetur!
              </p>
            </div>
            <div class="products__hidden-content-wrapper">
              <div class="products__hidden-content">
                <div class="products__hidden-content-inner">
                  <p>Hidden Content</p>
                  <p>Hidden Content</p>
                  <p>Hidden Content</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="product__item">
        <div class="products__wrapper">
          <div class="products__inner">
            <div class="products__content">
              <h4 class="title">Title</h4>
              <p class="descr">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consectetur!
              </p>
            </div>
            <div class="products__hidden-content-wrapper">
              <div class="products__hidden-content">
                <div class="products__hidden-content-inner">
                  <p>Hidden Content</p>
                  <p>Hidden Content</p>
                  <p>Hidden Content</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>