<section class="product" id="product">
  <div class="container-md">
    <div class="product__container">
      <h3 class="section-title">
        SEGWAY Ninebot Kickscooter MAX
      </h3>

      <!-- Оболочка слайдера -->
      <div class="product-slider swiper">
        <!-- Двигающееся часть слайдера -->
        <div class="product-slider__wrapper swiper-wrapper">
          <!-- Слайд -->
          <div class="product-slider__slide swiper-slide">
            <div class="product-slider__content">
              <h3 class="product-slider__title">
                Одноступінчастий механізм складання
              </h3>
              <p class="product-slider__text">
                Ninebot KickScooter MAX можна легко скласти за 3 секунди та
                носити з собою.
              </p>
            </div>
            <div class="product-slider__img-wrapper">
              <img
                class="product-slider__img cover-pic"
                src="img/product/max-feature1.jpg"
                alt=""
              />
            </div>
          </div>
          <!-- Слайд -->
          <div class="product-slider__slide swiper-slide">
            <div class="product-slider__content">
              <h3 class="product-slider__title">
                Одноступінчастий механізм складання
              </h3>
              <p class="product-slider__text">
                Ninebot KickScooter MAX можна легко скласти за 3 секунди та
                носити з собою.
              </p>
            </div>
            <div class="product-slider__img-wrapper">
              <img
                class="product-slider__img cover-pic"
                src="img/product/max-feature2.jpg"
                alt=""
              />
            </div>
          </div>
          <!-- Слайд -->
          <div class="product-slider__slide swiper-slide">
            <div class="product-slider__content">
              <h3 class="product-slider__title">
                Одноступінчастий механізм складання
              </h3>
              <p class="product-slider__text">
                Ninebot KickScooter MAX можна легко скласти за 3 секунди та
                носити з собою.
              </p>
            </div>
            <div class="product-slider__img-wrapper">
              <img
                class="product-slider__img cover-pic"
                src="img/product/max-feature3.jpg"
                alt=""
              />
            </div>
          </div>
          <!-- Слайд -->
          <div class="product-slider__slide swiper-slide">
            <div class="product-slider__content">
              <h3 class="product-slider__title">
                Одноступінчастий механізм складання
              </h3>
              <p class="product-slider__text">
                Ninebot KickScooter MAX можна легко скласти за 3 секунди та
                носити з собою.
              </p>
            </div>
            <div class="product-slider__img-wrapper">
              <img
                class="product-slider__img cover-pic"
                src="img/product/max-feature4.jpg"
                alt=""
              />
            </div>
          </div>
          <!-- Слайд -->
          <div class="product-slider__slide swiper-slide">
            <div class="product-slider__content">
              <h3 class="product-slider__title">
                Одноступінчастий механізм складання
              </h3>
              <p class="product-slider__text">
                Ninebot KickScooter MAX можна легко скласти за 3 секунди та
                носити з собою.
              </p>
            </div>
            <div class="product-slider__img-wrapper">
              <img
                class="product-slider__img cover-pic"
                src="img/product/max-feature5.jpg"
                alt=""
              />
            </div>
          </div>

        </div>

          <!-- Если нужна пагинация -->
          <div class="swiper-pagination"></div>
          <!-- Если нужна навигация (влево/вправо) -->
          <button type="button" class="btn-reset swiper-button-prev" aria-label="Перейти к предыдущему слайду"></button>
          <button type="button" class="btn-reset swiper-button-next" aria-label="Перейти к следующему слайду"></button>
          <!-- Если нужен скролбар -->
          <div class="swiper-scrollbar"></div>
        </div>

  </div>
</section>
