<!-- <div class="show-hideblock-container">
          <h1 class="mb-4">Скрыть/Открыть блок</h1>
          <button class="btn btn-outline-primary mb-3" id="button" type="button">
            Открыть блок
          </button>
          <div class="card card-body content-hidden" id="content">
            Блок с контентом. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Distinctio, maiores nulla nesciunt labore optio minus quibusdam
            excepturi voluptate atque iusto eaque enim, quos consectetur aliquam
            quasi repellendus vel quis sequi.
          </div>
        </div> -->

<!-- <div class="scroll-up">
      <svg class="scroll-up__svg" viewBox="-2 -2 52 52">
        <path
          class="scroll-up__svg-path"
          d="
          M24,0
          a24,24 0 0,1 0,48
          a24,24 0 0,1 0,-48
          "
        />
      </svg>
      
    </div> -->
<!-- @include('partials/footer.html') -->
<!-- <a href="#up" class="to-up">
        <svg class="icon to-up__icon view-mode__icon--grid view-mode__icon--no-active">
          <use xlink:href="img/sprite.svg#icon-up"></use>
        </svg>
      </a> -->
