<div class="container">
  <div class="cocials-media">
    <p class="cocials-media__description">Description</p>
    <ul class="list-reset cocials-media__list">
      <li class="cocials-media__item">
        <a href="#" class="btn-reset cocials-media__btn cocials-media__link">
          <svg class="icon-svg">
            <use xlink:href="img/sprite.svg#you-tube"></use>
          </svg>
        </a>
      </li>
      <li class="cocials-media__item">
        <a href="#" class="btn-reset cocials-media__btn cocials-media__link">
          <svg class="icon-svg">
            <use xlink:href="img/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="cocials-media__item">
        <a href="#" class="btn-reset cocials-media__btn cocials-media__link">
          <svg class="icon-svg">
            <use xlink:href="img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="cocials-media__item">
        <a href="#" class="btn-reset cocials-media__btn cocials-media__link">
          <svg class="icon-svg">
            <use xlink:href="img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
