<div class="img-wrap">
  <img class="cover-pic" src="../img/tpl/01-big.jpg" alt="image" />
</div>
<div class="img-wrap">
  <img class="contain-pic" src="../img/tpl/01-big.jpg" alt="image" />
</div>
<picture>
  <source srcset=".webp" type="image/webp" />
  <img loading="lazy" src="." class="image" width="" height="" alt="" />
</picture>
<img loading="lazy" src="." class="image" width="" height="" alt="" />
<svg class="">
  <use xlink:href="img/sprite.svg#"></use>
</svg>

<h1>Lorem ipsum dolor sit amet.</h1>
<h6>Lorem ipsum dolor sit amet.</h6>
