<div class="container">
  <!-- *********************************************************************** -->
  <!--                                Buttons                                  -->
  <!-- *********************************************************************** -->
  <h3>Buttons</h3>

  <div class="block-wrapper">
    <a class="btn-reset btn" href="#" role="button">Link</a>
    <button class="btn" type="button">Button</button>
    <button class="btn" type="submit">Button</button>
    <input class="btn" type="button" value="Input" />
    <input class="btn" type="submit" value="Submit" />
    <input class="btn" type="reset" value="Reset" />
    <div class="btn-reset btn" role="button">Div</div>
    <button class="btn-reset btn" disabled>Disabled</button>
  </div>



  <!-- *********************************************************************** -->
  <!--                              Custom Select                              -->
  <!-- *********************************************************************** -->
  <!-- <h3>Custom Select</h3>

<div class="block-wrapper">
  <div class="dropdown">
    <button class="dropdown__button">Option 1</button>
    <ul class="list-reset dropdown__list">
      <li class="dropdown__list-item" data-value="1">Option 1</li>
      <li class="dropdown__list-item" data-value="2">Option 2</li>
      <li class="dropdown__list-item" data-value="3">Option 3</li>
      <li class="dropdown__list-item" data-value="4">Option 4</li>
      <li class="dropdown__list-item" data-value="5">Option 5</li>
    </ul>
    <input
      class="visually-hidden"
      type="text"
      name="select-category"
      value="1"
    />
  </div>
</div> -->

  <!-- ****************************************************************************** -->
  <!--                                   Search                                       -->
  <!-- ****************************************************************************** -->

  <!-- ******************************* search-box *********************************** -->

  <!-- <div class="block-wrapper">
  <div" class="search-box">
    <input
      type="text"
      class="search-box__input"
      autocomplete="off"
      placeholder="Search here..."
      />
    <button class="btn-reset search-box__btn">
      <span class="material-symbols-outlined">
        search
      </span>
    </button>
  </div>
</div> -->

  <!-- ******************************* search-bar *********************************** -->
  <!-- *********************************** JS *************************************** -->
  <!-- <div class="block-wrapper">
  <div class="search-bar">
    <svg class="search-bar__icon">
      <use xlink:href="img/sprite.svg#search"></use>
    </svg>
    <div class="search-bar__body search-bar"> -->
  <!-- <div class="search-bar__body search-bar--open"> -->
  <!-- <form class="search-bar__form" action="#">
        <div class="search-bar__input-wrapper">
          <input class="search-bar__input" type="text" placeholder="Text" />
          <div class="search-bar__clear">
            <svg class="search-bar__icon-clear">
              <use xlink:href="img/sprite.svg#close"></use>
            </svg>
          </div>
        </div>
        <input class="search-bar__btn" type="submit" value="Search" />
      </form>
    </div>
  </div>
</div> -->

  <!-- ****************************************************************************** -->
  <!--                          Search Bar With Auto-complete                                       -->
  <!-- ****************************************************************************** -->
  <!-- <div class="block-wrapper">
  <div class="search-bar__container">
    <div id="search-bar" class="search-bar">
      <label class="search-bar__label" for="searchInput">Search bar with auto-complete</label>
      <input
        class="input-reset search-bar__input"
        id="searchInput"
        type="text"
        placeholder="Start typing to search..."
        autocomplete="off"
      />
      <span class="material-symbols-outlined"> search </span>
      <ul id="search-bar__results" class="list-reset search-bar__list">
        <li class="search-bar__res search-bar__item" data-result>Bob</li>
        <li class="search-bar__res search-bar__item" data-result>Kate</li>
        <li class="search-bar__res search-bar__item" data-result>Cindy</li>
        <li class="search-bar__res search-bar__item" data-result>Candy</li>
        <li class="search-bar__res search-bar__item" data-result>Kelly</li>
        <li class="search-bar__res search-bar__item" data-result>Frank</li>
        <li class="search-bar__res search-bar__item" data-result>Joe</li>
        <li class="search-bar__res search-bar__item" data-result>Malaysia</li>
        <li class="search-bar__res search-bar__item" data-result>Brittney</li>
        <li class="search-bar__res search-bar__item" data-result>Mike</li>
        <li class="search-bar__res search-bar__item" data-result>Julian</li>
        <li class="search-bar__res search-bar__item" data-result>David</li>
        <li class="search-bar__res search-bar__item" data-result>Fred</li>
        <li class="search-bar__res search-bar__item" data-result>Jason</li>
      </ul>
    </div>
  </div>
</div> -->

  <!-- ****************************************************************************** -->
  <!--                                 Custom Checkbox Toggle                               -->
  <!-- ****************************************************************************** -->
  <!-- <div class="container">
  <div class="checkbox-wrapper-6">
    <input class="tgl tgl-light" id="cb1-6" type="checkbox"/>
    <label class="tgl-btn" for="cb1-6">
  </div>
</div> -->

  <!-- ****************************************************************************** -->
  <!--                               Custom input range                               -->
  <!--                                 nouislider JS                                  -->
  <!-- ****************************************************************************** -->

  <!-- <div class="container">
  <div class="custom__input-range">
    <div class="range-slider" id="slider"></div>
    <div class="range-slider__input-wrapper">
      <label class="range-slider__label">
        <span class="range-slider__text">від</span>
        <input
          type="number"
          class="range-slider__input"
          min="500"
          max="10000"
          placeholder="500"
          id="input-0"
        />
        <span class="range-slider__text">₴</span>
      </label>
      <label class="range-slider__label">
        <span class="range-slider__text">до</span>
        <input
          type="number"
          class="range-slider__input"
          min="500"
          max="10000"
          placeholder="10000"
          id="input-1"
        />
        <span class="range-slider__text">₴</span>
      </label>
    </div>
  </div>
</div> -->

  <!-- ****************************************************************************** -->
  <!--                                  Star rating                                   -->
  <!--                                      JS                                        -->
  <!-- ****************************************************************************** -->
  <!-- <div class="container">
  <div class="test__wrapper">
    <form action="#">
      <div class="rating__wrapper">
        <div class="rating">
          <input type="radio" class="rating__input" id="star-5">
          <label for="star-5" class="rating__label"></label>
          <input type="radio" class="rating__input" id="star-4">
          <label for="star-4" class="rating__label"></label>
          <input type="radio" class="rating__input" id="star-3">
          <label for="star-3" class="rating__label"></label>
          <input type="radio" class="rating__input" id="star-2">
          <label for="star-2" class="rating__label"></label>
          <input type="radio" class="rating__input" id="star-1" checked>
          <label for="star-1" class="rating__label"></label>
        </div>
      </div>
    </form>
  </div>
</div>
</div> -->
</div>
