<section class="video-presentation">
  <div class="container">
   	<div class="video-presentation__container">
		<h2 class="title section-title">
			Відео презентація продукту
		</h2>
		<div class="video-presentation__content">
			<iframe class="video-presentation__video" src="https://www.youtube.com/embed/Vq0JCR6_YpA" title="YouTube videplayer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscopepicture-in-picture" allowfullscreen></iframe>
		</div>
	</div> 
  </div>
</section>