.wrapper-outer {
}
.section-name-section {
}
.wrapper-inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: $padding-vertical 0;
  &--wide {
    max-width: 1200px;
  }
}

// **********************************************************************
//                                                          стили шаблона
// **********************************************************************

.tpl-block {
  margin-bottom: 20px;
}
